html,body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

a {
    color: #515151;
}

a:hover {
	color: #EDEDED;
}

p {
	font-family: 'Roboto Mono', monospace;
	width: 100%;
}

li {
	font-family: 'Roboto Mono', monospace;
	color: #515151;
	margin-left: 10%;
	margin-right: 10%;
}

hr {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.heading {
	display: block;
}
.light-gray-color {
	color: #515151;
}
.big-intro-para {
	font-size: 22px;
	text-align: justify;
	font-family: 'Roboto Mono', monospace;
	color: #515151;
	margin-left: 10%;
	margin-right: 10%;
}
.big-intro-heading {
	font-size: 40px;
	text-align: justify;
	font-family: 'Roboto Mono', monospace;
	color: white;
	background-color: #6AB344;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}