.margin-class{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.margin-class-2{
  margin-top: 60px;
  margin-bottom: 60px;
}
.chip-margin{
  border-radius:0px;
  font-style: normal;
  font-weight: normal;
  font-size:16px;
  color:#ffef28;
  background-color: #38514d;
  margin-right: 10px;
}
a {
  color:#cc7832;
  text-decoration: underline;
}
.heading-color {
  color:#629755;
}
.content-color{
  color:#a9b7c6;
}
h4 {
  color:#9876aa;
}
.bold-style {
  color:#cc7832;
}
